  p
  { 
   font-family: verdana, arial, "ms sans serif", sans-serif; 
   font-size: 12px; 
   margin: 10px;
   line-height: 18px;
   padding-left: 8px;
   color: #e9f2fc;
  }
  h3
  { 
   font-family: verdana, arial, "ms sans serif", sans-serif;
   font-size: 16px; 
   margin: 10px;
   line-height: 18px;
   padding-left: 5px;
   color: #e9f2fc;
  } 
  .small
  { 
   font-family: verdana, arial, "ms sans serif", sans-serif; 
   font-size: 10px; 
   font-weight: normal;
   padding-left: 10px;
   line-height: 14px;
   color: #e9f2fc;
  }
  .medium
  { 
   font-family: verdana, arial, "ms sans serif", sans-serif; 
   font-size: 12px; 
   font-weight: normal;
   line-height: 14px;
   padding-left: 0px;
   color: #e9f2fc;
  }
  .big
  { 
   font-family: verdana, arial, "ms sans serif", sans-serif; 
   font-size: 14px; 
   line-height: 14px;
   padding-left: 10px;
   color: #e9f2fc;
  }
  .news
  { 
   font-family: verdana, arial, "ms sans serif", sans-serif; 
   font-size: 10px; 
   line-height: 10px;
   padding-left: 5px;
   color: #464C64;
  } 
  td
  { 
   font-family: verdana, arial, "ms sans serif", sans-serif; 
   font-size: 12px;
   color: #e9f2fc;
  }
  a:link
  {
   color: #333333;
   font-weight: bold; 
   text-decoration: none;
  }
  a:visited
  {
   color: #333333;
   font-weight: bold;
   text-decoration: none;
  }
  a:active
  {
   color: #333333;
   font-weight: bold;
   text-decoration: none;
  }
  a:hover
  {
   color:#666666;
   font-weight: bold;
   text-decoration: none;
  }
  input, textarea, select
  {
   background-color: #eeeeee;
   font-family: verdana, arial, sans-serif;
   font-size: 10px;
   color: #333;
   padding: 0px; 
  }
  input.button
  {
   background-color: #ccc;
   border-style: outset;
   border-color: #999;
   border-width: 0;
  }
  .copyright
  { 
   font-family: verdana, arial, "ms sans serif", sans-serif; 
   font-size: 10px; 
   font-weight: normal;
   line-height: 10px;
   padding-left: 5px;
   color: #7c8aa4;
  }